@font-face {
    font-family: 'techFontThin'; /*a name to be used later*/
    src: url('../fonts/kenvector_future_thin.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'techFontThick'; /*a name to be used later*/
    src: url('../fonts/kenvector_future.ttf'); /*URL to font*/
}
